@font-face {
	font-family: "Determination";
	src: url(Fonts/DTM-Mono.otf);
}

@font-face {
	font-family: "d-termination";
	src: url(Fonts/DTM-Sans.otf);
}

html

{background-image: url('Images/TV-Time-BG.png');background-color: #2a4b7c;}

h1 { font-family: 'd-termination';
    color: #E3CCFB;
     -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #7D708A;
       display: block;
      margin-left: auto;
      margin-right: auto;
  width: 20%;}

    img {
      display: block;
      margin-left: auto;
      margin-right: auto; }


 nav { font-family: 'd-termination';
    display: block;
      margin-left: auto;
      margin-right: auto;
      background-color: #E3CCFB;
  width: 11%;    }

    footer { font-family: Georgia, 'Times New Roman', Times, serif;
    color: #E3CCFB;
 
       display: block;
      margin-left: auto;
      margin-right: auto;
   
  width: 40%; }