@font-face {
	font-family: "Determination";
	src: url(Fonts/DTM-Mono.otf);
}

html

{background-image: url('Images/TV-Time-BG.png');background-color: #2a4b7c;}

 nav {background-color: #BCABCD;
    width: 8%}

head {display: flex;
    color: #2a4b7c;}

h1  {
    font-family: 'Determination';
    color: #DA1F52;
     -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #e4a126;
  display: block;
  margin: auto;
  width: 20%;
}


h1 img {
	margin: 0 30px;
	position: relative;
	top: 30px;
}


h2  {
   font-family: 'Determination';
    color: #E3CCFB;
     -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #7D708A;
  display: block;
  margin: auto;
  width: 25%;
}



h3 {
display: flex;
justify-content: center;
}

footer  {
    font-family: 'Courier New', Courier, monospace;
    color: #ACD2DE;
    font-style: italic;
  display: block;
  margin: auto;
  width: 40%;
}